<!DOCTYPE html>
<html lang="en-US" style="margin: 0px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="../avalon/dist/avalon.js"></script>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../public/js/jquery/jquery.min.js"></script>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../public/js/bootstrap/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../public/js/bootstrap/js/bootstrap.min.js"></script>
    <!--提示信息-->
    <script type="text/javascript" src="../public/js/layer/layer.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/js/layer/skin/layer.css">
    <!--弹出框 -->
    <script type="text/javascript" src="../public/js/poshytip/src/jquery.poshytip.js"></script>
    <link rel="stylesheet" href="../public/js/poshytip/src/tip-yellowsimple/tip-yellowsimple.css" type="text/css" />
    <script src="../public/js/load/load.js"></script>
    <script type="text/javascript" src="/personal/js/index.js"></script>

</head>
<div ms-controller="homedata" class="ms-controller" role="content" >
<body>
<div style="width: 100%;height: 280px;position: absolute;">
    <img ms-attr="{src: informationData.backgroundImage}" width="100%" height="280">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="col-md-3">
                </div>
                <div class="col-md-5 " style="margin-top: 9px;">
                    <div class="col-md-3 ">
                        <p style="text-align:center"><span style="color:#8899a6;">动态</span><br><span style="color:#1b95e0;">{{informationData.dynamicNum}}</span></p>
                    </div>
                    <div class="col-md-3 ">
                        <p style="text-align:center"><span style="color:#8899a6;">正在关注</span><br><span style="color:#1b95e0;">{{informationData.areConcernedNum}}</span></p>
                    </div>
                    <div class="col-md-3 ">
                        <p style="text-align:center"><span style="color:#8899a6;">已关者</span><br><span style="color:#1b95e0;">{{informationData.followersNum}}</span></p>
                    </div>
                    <div class="col-md-3 ">
                        <p style="text-align:center"><span style="color:#8899a6;">喜欢</span><br><span style="color:#1b95e0;">{{informationData.likeNum}}</span></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <p style="text-align:center"><button type="button" class="btn btn-primary" style="margin-top: 9px;">修改资料</button></p>
                </div>
            </div>
        </div>
    </nav><!--小导航条-->
</div>
<div class="container">
    <div style="width: 200px;height: 200px;top: 210px;position:absolute; background: #ffffff; padding: 10px;">
        <img ms-attr="{src: informationData.headPortrait}" width="180px;" height="180px;" class="img-rounded">
    </div>
    <div style="width: 250px;position: absolute;top: 410px;">
        <p style="font-size: 18px;font-weight: 700;">{{informationData.nickname}}</p>
        <p style="color: #8899a6;line-height: 0px;">{{informationData.school}}</p>
        <p>{{informationData.motto}}</p>
        <span class="glyphicon glyphicon-calendar"></span>加入于{{informationData.createtime}}</br>
        <span class="glyphicon glyphicon-user" style="margin-top: 3px;"></span>生于{{informationData.birthday}}</br>
        <span class="glyphicon glyphicon-film" style="margin-top: 3px;"></span><span style="color: #ff0000"> 1,472 个照片和视频</span>
        <div style="width: 250px;position: absolute;">
            <div class="col-md-4 ">
                <img src="https://pbs.twimg.com/media/CtsHMm6WEAAemJZ.jpg:thumb" class="img-rounded" style="height: 80px; width: 80px; margin-left: -20px; margin-top: 0px;">
            </div>
            <div class="col-md-4">
                <img src="https://pbs.twimg.com/media/CtiQsllXEAARtMC.jpg:thumb" class="img-rounded" style="height: 80px; width: 80px; margin-left: -20px; margin-top: 0px;">
            </div>
            <div class="col-md-4">
                <img src="https://pbs.twimg.com/media/CtU5_jbXEAAw5PC.jpg:thumb" class="img-rounded" style="height: 80px; width: 80px; margin-left: -20px; margin-top: 0px;">
            </div>
        </div>
    </div><!--个人信息-->
    <div  class="row" style="margin-top: 420px;margin-left: 280px;">
        <div class="col-md-12 col-sm-12">
            <div ms-for="($index,res) in @items">
                <div class="row masonry-container">
                <div class="col-md-12 col-sm-12 item">
                    <div class="thumbnail">
                        <div class="caption">
                            <div style="width: auto;height: 35px;">
                                <div style="width: 35px; float: left">
                                    <div id="def-html" class="box">
                                        <img ms-attr="{src: res.headImg}" ms-attr="{id: $index}"
                                             class="personalInfo" height="35" width="35" class="img-circle"
                                             ms-if="res.headImg"
                                             ms-on-mouseover="@getPersonalInfo(res)">
                                    </div>
                                </div>
                                <div style="float: left;width: 200px;padding-left: 5px;">
                                    <div class="box">
                                        <p>
                                            <span style="color: #292f33; font-weight:bold" ms-if="res.nickname">{{res.nickname}}</span></br>
                                        </p>
                                        <p style="line-height: 0px;">
                                            <span style="color:#8899a6;" ms-if="res.school">{{res.school}}</span>
                                        </p>
                                    </div>
                                </div>
                                <div style="float: right;width: 80px;font-size: 13px;color:#8899a6; text-align:right">
                                    <p id="ab4c" data-toggle="tooltip" data-placement="top" title="{{res.titleTime}}" ms-if="res.time">{{res.time}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <p style="margin-top: 10px; word-wrap:break-word">
                                        {{res.content}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <a  data-toggle="modal" data-target="#myModal" style="text-decoration:none;color: #0f0f0f"   ms-on-click="@personalInformation(res,$index)">
                            <img ms-attr="{src: res.speakImg}" alt=""  width="100%">
                        </a>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-3 col-sm-6">
                                <p data-toggle="tooltip" data-placement="top" title="喜欢" style="text-align:center">
                                    <span ms-if="res.praiseTag==1"><span class="glyphicon glyphicon-heart" style="color: #ff0000;"></span><span style="padding-left: 6px;">{{res.likeNum?res.likeNum:0}}</span></span>
                                    <span ms-if="res.praiseTag==0"><span ms-on-click="@evaluation(res.id,'like',$index)"><span class="glyphicon glyphicon-heart" style="color: #8899a6;"></span><span  style="padding-left: 6px;">{{res.likeNum?res.likeNum:0}}</span></span></span>
                                </p>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <p data-toggle="tooltip" data-placement="top" title="回复" style="text-align:center">
                                    <span class="glyphicon glyphicon-share-alt" style="color: #ff0000" ms-if="res.reply"></span>
                                    <span class="glyphicon glyphicon-share-alt" style="color: #8899a6" ms-if="1"></span>
                                </p>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <p data-toggle="tooltip" data-placement="top" title="转发" style="text-align:center">
                                    <span ms-if="res.forwardingNumTag==1"><span class="glyphicon glyphicon-retweet" style="color: #ff0000"></span><span style="padding-left: 6px;">{{res.forwardingNum?res.forwardingNum:0}}</span></span>
                                    <span ms-if="res.forwardingNumTag==0"><span class="glyphicon glyphicon-retweet" style="color: #8899a6"></span><span style="padding-left: 6px;">{{res.forwardingNum?res.forwardingNum:0}}</span></span>
                                </p>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <p data-toggle="tooltip" data-placement="top" title="举报" style="text-align:center">
                                    <span ms-if="res.reportNumTag==1"><span class="glyphicon glyphicon-user" style="color: #ff0000"></span><span style="padding-left: 6px;">{{res.reportNum?res.reportNum:0}}</span></span>
                                    <span ms-if="res.reportNumTag==0"><span ms-on-click="@evaluation(res.id,'report',$index)"><span class="glyphicon glyphicon-heart" style="color: #8899a6;"></span><span  style="padding-left: 6px;">{{res.reportNum?res.reportNum:0}}</span></span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!--/.item  -->
                </div> <!--/.masonry-container  -->
            </div><!--v-for-->
        </div>
    </div><!--动态-->
</div>
</body>
<div contenteditable="true" id="html-content" style="display:none;z-index:9999">
    <div  style="width:290px;height: 232px; background: #ffffff;">
        <div style="width: 290px;height: 90px;">
            <img  ms-attr="{src: PersonalInfo.backgroundImg}" width="290px;" height="90px;">
        </div>
        <div style="width: 72px;height: 72px;left: 12px;top: 60px;position:absolute;">
            <img ms-attr="{src: PersonalInfo.headImg}" width="72px;" height="72px;">
        </div>
        <div style="width: 185px;height: 72px;left: 85px;top: 95px;position:absolute;">
            <p>
                <span style="font-size: 16px;color: #292f33;font-weight: 700;">{{PersonalInfo.nickname}}</span></br>
                <span style="font-size: 11px;line-height:15px;color:#8899a6;">{{PersonalInfo.school}}</span>
            </p>
        </div>
        <div style="width: 20px;height: 72px;left: 257px;top: 100px;position:absolute;">
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-user"></span>+
            </button>
        </div>
        <div style="width:290px;height: 50px;left: 12px;top: 140px;position:absolute;">
            <p style="font-size: 12px;line-height:15px; color: #292f33;" ms-if="PersonalInfo.signature">
                {{PersonalInfo.signature}}
            </p>
        </div>
        <div style="width:279px;height: 53px;top: 190px;position:absolute; padding-bottom: 10px;padding-left: 10px;padding-top: 10px;">
            <div style="width: 80px;float: left">
                <p style="font-size: 13px;color:#8899a6; text-align:center" >
                    动态</br><span style="color:#1b95e0;font-size: 18px">{{PersonalInfo.dynamicNum}}</span>
                </p>
            </div>
            <div style="width: 80px;float: left">
                <p style="font-size: 13px;color:#8899a6; text-align:center">
                    正在关注</br><span style="color:#1b95e0;font-size: 18px">{{PersonalInfo.areConcernedNum}}</span>
                </p>
            </div>
            <div style="width: 80px;float: left">
                <p style="font-size: 13px;color:#8899a6; text-align:center">
                    关注者</br><span style="color:#1b95e0;font-size: 18px">{{PersonalInfo.followersNum}}</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" style="z-index:auto;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div style="width: auto;height: 35px; ">
                    <div class="box" style="width: 35px; float: left">
                        <img ms-attr="{src: information.headImg}" class="personalInfo" ms-on-mouseover="@getPersonalInfo(information)" class="img-circle" height="35" width="35">
                    </div>
                    <div style="float: left;width: 200px;padding-left: 5px;">
                        <p>
                            <span style="color: #292f33; font-weight:bold">{{information.nickname}}</span></br>
                        </p>
                        <p style="line-height: 0px;">
                            <span style="color:#8899a6;">{{information.school}}</span>
                        </p>
                    </div>
                    <div style="float: right;width: 80px;font-size: 13px;color:#8899a6; text-align:right">
                        <button type="button" class="btn btn-primary">正在关注</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p style="margin-top: 10px; word-wrap:break-word;font-size: 20px;font-weight: 300">
                            {{information.content}}
                        </p>
                    </div>
                </div>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active" ms-if="information.speakImg"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" ms-if="information.speakImg1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" ms-if="information.speakImg2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3" ms-if="information.speakImg3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active" ms-if="information.speakImg">
                            <img ms-attr="{src: information.speakImg}" alt="" width="100%">
                        </div>
                        <div class="item" ms-if="information.speakImg1">
                            <img ms-attr="{src: information.speakImg1}" alt="" width="100%">
                        </div>
                        <div class="item" ms-if="information.speakImg2">
                            <img ms-attr="{src: information.speakImg2}"  alt="" width="100%">
                        </div>
                        <div class="item" ms-if="information.speakImg3">
                            <img ms-attr="{src: information.speakImg3}" alt="" width="100%">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <p data-toggle="tooltip" data-placement="top" title="喜欢" style="text-align:center">
                            <span ms-if="information.praiseTag==1"><span class="glyphicon glyphicon-heart" style="color: #ff0000;"></span><span style="padding-left: 6px;">{{information.likeNum?information.likeNum:0}}</span></span>
                            <span ms-if="information.praiseTag==0"><span ms-on-click="@evaluation(information.id,'like',information.index)"><span class="glyphicon glyphicon-heart" style="color: #8899a6;"></span><span style="padding-left: 6px;">{{information.likeNum?information.likeNum:0}}</span></span></span>
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <p data-toggle="tooltip" data-placement="top" title="回复" style="text-align:center">
                            <span class="glyphicon glyphicon-share-alt" style="color: #ff0000" ms-if="information.reply"></span>
                            <span class="glyphicon glyphicon-share-alt" style="color: #8899a6"></span>
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <p data-toggle="tooltip" data-placement="top" title="举报" style="text-align:center">
                            <span ms-if="information.reportNumTag==1"><span class="glyphicon glyphicon-user" style="color: #ff0000"></span><span style="padding-left: 6px;">{{information.reportNum?information.reportNum:0}}</span></span>
                            <span ms-if="information.reportNumTag==0"><span ms-on-click="@evaluation(information.id,'report',information.index)"><span class="glyphicon glyphicon-user" style="color: #8899a6"></span><span style="padding-left: 6px;">{{information.reportNum?information.reportNum:0}}</span></span></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</html>

